.calculator {
   width: 400px;
    margin:auto;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
  }
  
  button {
    width: 100px;
    height: 100px;
    font-size: 30px;
    border-radius: 20px;
    border: 1px solid #ff01d0;
    outline: none;
    background-color: #069484;
    cursor: default;
  }
  
  button:hover {
    background-color: #26e7c7;
    color: rgb(0, 154, 118);
  }
  
  .output {
    width: 400px;
    height: 100px;
    font-size: 24px;
    padding: 5px;
    margin-top: 10px;
    text-align: right;
    border-radius: 5px;
    border: 1px solid #ff01d0;
    outline: none;
  }